In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("First").getOrCreate()

In [ ]:
df = spark.read.format("csv").option("header", True).load("data/cars.csv")

In [ ]:
df.show() # 20 lines of dataframe by default showing

In [ ]:
df.show(5) # showing 5 rows of entire dataframe

In [ ]:
df.show(1,vertical=True) # showing the 1 row in column (could be more then 1 rows)

In [ ]:
df.select("manufacturer_name","model_name").show(5) # selecting 2 columns by column name and returning new df

In [ ]:
df.select(df["model_name"]).show(5) # looking at the column by pointing it with df[columnName]

In [ ]:
# importing sql functions from spark
import pyspark.sql.functions as F
# looking at the columns with sql functions
df.select(F.col("manufacturer_name"),F.col("model_name"),F.col("transmission")).show(5)

In [ ]:
# selecting only Audi using filter function
df.select("manufacturer_name","model_name").filter("manufacturer_name = 'Audi'").show(5)

In [ ]:
# more then one condition or conditions one by one 
# and using () bemcome \ pyhton methods to write code in multiply lines
(
df.select("manufacturer_name","model_name","transmission")
.filter("manufacturer_name = 'Audi'")
.filter("model_name = '100'")
.filter("transmission = 'mechanical'")
.show(5)
)

In [ ]:
# querying by one sql expression
(
df.select("manufacturer_name","model_name","transmission")
.filter("manufacturer_name = 'Audi' and transmission = 'mechanical'")
.show(5)
)

In [ ]:
# querying by sql functions with column - col()

(
df.select("manufacturer_name","model_name","transmission")
.filter(F.col("manufacturer_name") == 'Audi')
.filter(F.col("transmission") != 'mechanical')
.filter(F.col("model_name") == 'TT')
.show(5)
)

In [ ]:
# numbers of rows in a dataframe
df.count()

In [ ]:
# unique rows number in datafrme
df.distinct().count()

In [ ]:
# GROUP BY ORDER BY
# group by and count

df.groupBy("manufacturer_name").count().show(5000)

In [ ]:
# sorting the column down

df.groupBy("manufacturer_name").count().orderBy("count").show(10)

In [ ]:
# to be able to sort the column upside must to call the column by col() and use F.col("column_name").desc()

df.groupBy("manufacturer_name").count().orderBy(F.col("count").desc()).show(100)

In [ ]:
# using .withColumnRenamed() and  to rename the column

df.withColumnRenamed(existing="manufacturer_name",new="manufacturer").select("manufacturer").show(5)

In [ ]:
# using .withColumn() to create new column - must use F.col() to point on
# first argumnet new column name, second the expration

df.withColumn("year_after_year_produced", F.col("year_produced") + 1).select("year_after_year_produced").show(7)

In [ ]:
# info about DF schema
# important thing about schema in csv and spark - all fields are string
df.printSchema()

In [ ]:
df.schema

In [ ]:
# usefull df.describe() give us many info about DF

df.describe()

In [72]:
# give us statistics by columns (count,mean,stddev,min,max)
df.select("manufacturer_name","model_name","year_produced","price_usd").describe().show(5)

+-------+-----------------+------------------+------------------+-----------------+
|summary|manufacturer_name|        model_name|     year_produced|        price_usd|
+-------+-----------------+------------------+------------------+-----------------+
|  count|            38531|             38531|             38531|            38531|
|   mean|             null|1168.2918056562726|2002.9437336170874|6639.971021255605|
| stddev|             null| 9820.119520829581| 8.065730511309935|6428.152018202911|
|    min|            Acura|               100|              1942|              1.0|
|    max|              УАЗ|            Таврия|              2019|           9999.0|
+-------+-----------------+------------------+------------------+-----------------+